{
  "openapi": "3.0.1",
  "x-stoplight": {
    "id": "3bcu1jxqn6ack"
  },
  "info": {
    "title": "Katalon TestOps API reference",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://testops.katalon.io",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "basicScheme": []
    }
  ],
  "tags": [
    {
      "name": "Web Service"
    },
    {
      "name": "File",
      "description": "APIs for File"
    },
    {
      "name": "Agent"
    },
    {
      "name": "User",
      "description": "APIs for User"
    },
    {
      "name": "Agent",
      "description": "APIs for Agent"
    },
    {
      "name": "Comment"
    },
    {
      "name": "Test Case",
      "description": "APIs for Test Case"
    },
    {
      "name": "Task"
    },
    {
      "name": "Web Service",
      "description": "APIs for Web Service"
    },
    {
      "name": "Test Report",
      "description": "APIs for Test Report"
    },
    {
      "name": "Project"
    },
    {
      "name": "Test Object"
    },
    {
      "name": "Build",
      "description": "APIs for Build"
    },
    {
      "name": "Team"
    },
    {
      "name": "Execution Test Suite"
    },
    {
      "name": "Job",
      "description": "APIs for Job"
    },
    {
      "name": "Execution Test Result"
    },
    {
      "name": "Execution Test Suite",
      "description": "APIs for Execution Test Suite"
    },
    {
      "name": "File"
    },
    {
      "name": "Comment",
      "description": "APIs for Comment"
    },
    {
      "name": "Project",
      "description": "APIs for Project"
    },
    {
      "name": "Label"
    },
    {
      "name": "Search",
      "description": "APIs for Search"
    },
    {
      "name": "Test Cloud Agent"
    },
    {
      "name": "User"
    },
    {
      "name": "Katalon Recorder"
    },
    {
      "name": "Smart Scheduler"
    },
    {
      "name": "Test Report"
    },
    {
      "name": "Test Case"
    },
    {
      "name": "Execution"
    },
    {
      "name": "Execution Request"
    },
    {
      "name": "Search"
    },
    {
      "name": "Release"
    },
    {
      "name": "Team",
      "description": "APIs for Team"
    },
    {
      "name": "Build"
    },
    {
      "name": "Test Plan"
    },
    {
      "name": "Task",
      "description": "APIs for Task"
    },
    {
      "name": "Execution export"
    },
    {
      "name": "Katalon Recorder",
      "description": "APIs for Katalon Recorder"
    },
    {
      "name": "Job"
    },
    {
      "name": "Test Object",
      "description": "APIs for Test Object"
    },
    {
      "name": "Execution Request",
      "description": "APIs for Execution Request"
    },
    {
      "name": "Release",
      "description": "APIs for Release"
    },
    {
      "name": "Test Project",
      "description": "APIs for Test Project"
    },
    {
      "name": "Test Plan",
      "description": "APIs for Test Plan"
    },
    {
      "name": "Execution Test Result",
      "description": "APIs for Execution Test Result"
    },
    {
      "name": "Test Project"
    },
    {
      "name": "Test Suite",
      "description": "APIs for Test Suite"
    },
    {
      "name": "Execution",
      "description": "APIs for Execution"
    },
    {
      "name": "Test Suite"
    }
  ],
  "paths": {
    "/api/v1/test-projects/{id}": {
      "get": {
        "tags": [
          "Test Project",
          "Build"
        ],
        "summary": "Returns a Test Project detail.",
        "operationId": "get_3",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TestProjectResource"
                }
              }
            }
          }
        },
        "x-internal": true,
        "deprecated": true
      },
      "put": {
        "tags": [
          "Test Project"
        ],
        "summary": "Updates a Test Project detail. Returns the updated Test Project detail.",
        "operationId": "update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestProjectResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TestProjectResource"
                }
              }
            }
          }
        },
        "x-internal": true
      },
      "delete": {
        "tags": [
          "Test Project"
        ],
        "summary": "Deletes a Test Project. Returns the deleted Test Project.",
        "operationId": "delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TestProjectResource"
                }
              }
            }
          }
        },
        "x-internal": true
      }
    },
    "/api/v1/test-projects/{id}/schedulers/{schedulerId}": {
      "get": {
        "tags": [
          "Test Plan",
          "Test Project"
        ],
        "summary": "Returns a schedule detail.",
        "operationId": "getScheduler",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "schedulerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SchedulerResource"
                }
              }
            }
          }
        },
        "deprecated": true
      },
      "put": {
        "tags": [
          "Test Plan",
          "Test Project"
        ],
        "summary": "Updates a schedule detail. Returns the updated schedule detail.",
        "operationId": "update_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "schedulerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SchedulerResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SchedulerResource"
                }
              }
            }
          }
        },
        "deprecated": true
      },
      "delete": {
        "tags": [
          "Test Plan",
          "Test Project"
        ],
        "summary": "Deletes a schedule. Returns the deleted schedule detail.",
        "operationId": "delete_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "schedulerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SchedulerResource"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/v1/teams": {
      "get": {
        "tags": [
          "Team"
        ],
        "summary": "Returns all Teams of the current User.",
        "operationId": "list",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageTeamResource"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Team"
        ],
        "summary": "Updates a Team detail. Returns the updated Team detail.",
        "operationId": "update_2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TeamResource"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Team"
        ],
        "summary": "Creates a new Team. Returns the created Team detail.",
        "operationId": "create_2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TeamResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/run-configurations/{id}/execute": {
      "put": {
        "tags": [
          "Test Runs",
          "Test Plan"
        ],
        "summary": "Execute a test run",
        "operationId": "run",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BuildInfo"
                  }
                }
              }
            }
          }
        },
        "description": "This endpoint executes a test run and returns the job information."
      }
    },
    "/api/v1/releases": {
      "put": {
        "tags": [
          "Release"
        ],
        "summary": "Updates a Release. Returns the Release details.",
        "operationId": "update_3",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReleaseResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseResource"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Release"
        ],
        "summary": "Creates a Release. Returns the Release details.",
        "operationId": "createOrUpdate_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReleaseResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects": {
      "get": {
        "tags": [
          "Project"
        ],
        "summary": "Returns all Projects of a Team.",
        "operationId": "list_1",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageProjectResource"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Project"
        ],
        "summary": "Updates a Project detail. Returns the updated Project detail.",
        "operationId": "update_4",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResource"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Project"
        ],
        "summary": "Creates a new Project. Returns the created Project detail.",
        "operationId": "create_3",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/update-status": {
      "put": {
        "tags": [
          "Project"
        ],
        "summary": "Updates a Project status. Returns the updated Project detail.",
        "operationId": "updateStatus",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/permission/team/user": {
      "put": {
        "tags": [
          "Team"
        ],
        "summary": "Updates the role of a User in a Team. Returns the updated detail.",
        "description": "The user issuing this request must be the Admin of the team.",
        "operationId": "updateUserTeam",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserTeamResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserTeamResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/notifications/{notificationId}/users": {
      "put": {
        "tags": [
          "notification-controller"
        ],
        "summary": "Mark unread the notification as read of the current user",
        "operationId": "updateReadNotification",
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/v1/notifications/users": {
      "put": {
        "tags": [
          "notification-controller"
        ],
        "summary": "Mark all unread notifications as read of the current user",
        "operationId": "updateReadNotifications",
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/v1/notifications/number-of-notifications": {
      "get": {
        "tags": [
          "notification-controller"
        ],
        "summary": "Get number of notifications for the current user",
        "operationId": "getNumberOfNotifications",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "notification-controller"
        ],
        "summary": "Reset number of notifications to 0 for the current user",
        "operationId": "resetNumberOfNotifications",
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/v1/k8s-agent": {
      "put": {
        "tags": [
          "Agent"
        ],
        "summary": "Updates a K8S agent detail. Returns the updated agent detail.",
        "operationId": "update_5",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/K8SAgentResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/K8SAgentResource"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Agent"
        ],
        "summary": "Creates a K8S agent. Returns the created agent detail.",
        "operationId": "create_4",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/K8SAgentResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/K8SAgentResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/incidents": {
      "put": {
        "tags": [
          "Task"
        ],
        "summary": "Updates a Task detail. Returns the updated Task detail.",
        "operationId": "update_6",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncidentResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentResource"
                }
              }
            }
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "Task"
        ],
        "summary": "Creates a Task for the test results. Returns the created Task detail.",
        "operationId": "createIncident",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncidentResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentResource"
                }
              }
            }
          }
        },
        "deprecated": true,
        "description": ""
      }
    },
    "/api/v1/comments": {
      "put": {
        "tags": [
          "Comment"
        ],
        "summary": "Updates a Comment detail. Returns the updated Comment detail.",
        "operationId": "update_7",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResource"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Comment"
        ],
        "summary": "Creates a Comment. Returns the created Comment detail.",
        "operationId": "create_5",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommentResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/circle-ci-agent": {
      "put": {
        "tags": [
          "Agent"
        ],
        "summary": "Updates a CircleCI agent detail. Returns the updated agent detail.",
        "operationId": "update_8",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CircleCIAgentResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CircleCIAgentResource"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Agent"
        ],
        "summary": "Creates a new CircleCI agent. Returns the created agent detail.",
        "operationId": "create_6",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CircleCIAgentResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CircleCIAgentResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/build/{id}": {
      "put": {
        "tags": [
          "Build"
        ],
        "summary": "Updates a Build. Returns the Build details.",
        "operationId": "update_9",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuildResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BuildResource"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Build"
        ],
        "summary": "Deletes a Build. Returns the deleted Build details.",
        "operationId": "delete_8",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BuildResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agent/threshold": {
      "put": {
        "tags": [
          "Agent"
        ],
        "summary": "Updates the threshold for Local agent. Returns the agent detail.",
        "operationId": "updateThreshold",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Change name for current user.",
        "operationId": "changeName",
        "parameters": [
          {
            "name": "firstName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/avatar": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Downloads the avatar of the current User. Returns the current avatar file.",
        "operationId": "downloadAvatar",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Change the avatar of the current User. Returns the updated User detail.",
        "operationId": "changeAvatar",
        "parameters": [
          {
            "name": "uploadedPath",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/add": {
      "post": {
        "tags": [
          "User",
          "Team"
        ],
        "summary": "Adds users to a Team. Returns the added User detail.",
        "description": "The user issuing this request must be the Admin of the team.",
        "operationId": "assignUserTeam",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "newUserIds",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserResource"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user-settings": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Returns the User Settings detail.",
        "operationId": "get",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserSettingResource"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Updates the User Settings detail. Returns the updated User Settings detail.",
        "operationId": "createOrUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserSettingResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserSettingResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/testops-reports": {
      "post": {
        "tags": [
          "Test Report"
        ],
        "summary": "Saves and processes multiple uploaded TestOps reports.",
        "operationId": "processTestOpsReports",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "batch",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UploadBatchFileResource"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UploadBatchResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/testng/test-reports": {
      "post": {
        "tags": [
          "Test Report"
        ],
        "summary": "Uploads and processes the TestNG reports to an execution.",
        "operationId": "uploadTestNGReports",
        "parameters": [
          {
            "name": "executionId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "batch",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folderPath",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isEnd",
            "in": "query",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadedPath",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/v1/test-suites/{id}/edit": {
      "post": {
        "tags": [
          "Test Suite"
        ],
        "summary": "Edit a TestOps test suite",
        "operationId": "edit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestSuiteResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GetTestSuiteResource"
                }
              }
            }
          }
        },
        "description": "This endpoint edits a test suite created in TestOps and returns the edited test suite details."
      }
    },
    "/api/v1/test-suites/create": {
      "post": {
        "tags": [
          "Test Suite"
        ],
        "summary": "Create a test suite",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestSuiteResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTestSuiteResource"
                }
              }
            }
          }
        },
        "description": "This endpoint creates a test suite and returns the newly created test suite details."
      }
    },
    "/api/v1/test-results/{id}/mask-as-retested": {
      "post": {
        "tags": [
          "Execution Test Result"
        ],
        "operationId": "markAsRetested",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetestedTestResultResource"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExecutionTestResultResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/test-results/{id}/label": {
      "post": {
        "tags": [
          "Execution Test Result"
        ],
        "operationId": "updateLabel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SystemLabelResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/LabelResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/test-results/{id}/incidents": {
      "post": {
        "tags": [
          "Execution Test Result",
          "Task"
        ],
        "summary": "Link an Execution Test Result to a Task. Returns the created binding detail.",
        "operationId": "linkIncidents",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncidentExecutionTestResultResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentExecutionTestResultResource"
                }
              }
            }
          }
        },
        "deprecated": true
      },
      "delete": {
        "tags": [
          "Execution Test Result",
          "Task"
        ],
        "summary": "Unlink an Execution Test Result to a Task. Returns the deleted binding detail.",
        "operationId": "unlinkIncidents",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncidentExecutionTestResultResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentExecutionTestResultResource"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/v1/test-projects/{id}/update-script-repo": {
      "post": {
        "tags": [
          "Test Project"
        ],
        "summary": "Update a Test Project package. Returns the updated Test Project detail. Use to update script repository",
        "operationId": "updateScriptRepo",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "batch",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folderPath",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadedPath",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TestProjectResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/test-projects/{id}/schedulers": {
      "post": {
        "tags": [
          "Test Plan",
          "Test Project"
        ],
        "summary": "Creates a new schedule for a Test Plan. Returns the created schedule detail.",
        "operationId": "create_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SchedulerResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SchedulerResource"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/v1/test-projects/{id}/refresh-tsc": {
      "post": {
        "tags": [
          "Test Project"
        ],
        "summary": "Refresh Test Suite Collection list of Git Test Project",
        "operationId": "refreshTSC",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/v1/test-projects/upload-script-repo": {
      "post": {
        "tags": [
          "Test Project"
        ],
        "summary": "Creates a new Test Project. Returns the created Test Project. Use to create script repository",
        "operationId": "uploadScriptRepo",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "description",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "defaultTestProject",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "batch",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folderPath",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadedPath",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TestProjectResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/test-projects/sample": {
      "post": {
        "tags": [
          "Test Project"
        ],
        "summary": "Creates a new sample Test Project. Returns the created Test Project.",
        "operationId": "createSample",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "KS",
                "GIT"
              ]
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TestProjectResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/test-projects/sample-git-test-project": {
      "post": {
        "tags": [
          "Test Project"
        ],
        "summary": "Creates a new sample Git Test Project when setting up a Git Repository. Returns the created Sample Git Test Project.",
        "operationId": "createSampleGitTestProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TestProjectResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/test-cases/update": {
      "post": {
        "tags": [
          "Test Case"
        ],
        "summary": "Update a Test Case.",
        "operationId": "update_10",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestCaseResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TestCaseResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/smart-scheduler/schedule": {
      "post": {
        "summary": "Schedule a test run",
        "operationId": "createRunConfigurationAndSchedule",
        "parameters": [
          {
            "name": "verifyRunConfiguration",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SmartSchedulerResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GetSmartScheduler"
                }
              }
            }
          }
        },
        "description": "This endpoint creates and triggers a test run and return the test run details.",
        "tags": [
          "Schedule"
        ]
      }
    },
    "/api/v1/smart-scheduler/save-configuration": {
      "post": {
        "summary": "Create and save a test run schedule",
        "operationId": "createOrUpdateConfiguration",
        "parameters": [
          {
            "name": "verifyRunConfiguration",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunConfigurationResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GetRunConfiguration"
                }
              }
            }
          }
        },
        "description": "This endpoint creates a test run schedule and save its configuration. It returns the saved test run details.",
        "tags": [
          "Schedule"
        ]
      }
    },
    "/api/v1/smart-scheduler/run": {
      "post": {
        "summary": "Create and run a test run schedule",
        "operationId": "createRunConfigurationAndRun",
        "parameters": [
          {
            "name": "verifyRunConfiguration",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunConfigurationResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GetRunConfiguration"
                }
              }
            }
          }
        },
        "description": "This endpoint creates a test run schedule and run it immediately. It returns the test run details.",
        "tags": [
          "Schedule"
        ]
      }
    },
    "/api/v1/search": {
      "get": {
        "tags": [
          "Search"
        ],
        "summary": "Queries the resources of a specific type by multiple conditions. Returns the pageable resources satisfying the query.",
        "operationId": "search_1",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageBaseResource"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Queries the resources of a specific type by multiple conditions. Returns the pageable resources satisfying the query.",
        "operationId": "search",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageBaseResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/search/cache": {
      "get": {
        "tags": [
          "Search"
        ],
        "operationId": "searchCache_1",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ck",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageBaseResource"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Search"
        ],
        "operationId": "searchCache",
        "parameters": [
          {
            "name": "ck",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageBaseResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/run-configurations": {
      "post": {
        "tags": [
          "Test Plan"
        ],
        "summary": "Creates or updates a Test Plan. Returns the Test Plan detail.",
        "operationId": "createOrUpdateConfiguration_1",
        "parameters": [
          {
            "name": "verifyRunConfiguration",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunConfigurationResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RunConfigurationResource"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/v1/run-configurations/{id}/unlink-release": {
      "post": {
        "tags": [
          "Test Plan",
          "Build",
          "Release"
        ],
        "summary": "Unlink an Run Configuration from a Release or a Build. Returns the updated Run Configuration detail.",
        "operationId": "unlinkRelease",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RunConfigurationResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/run-configurations/{id}/link-release": {
      "post": {
        "tags": [
          "Test Plan",
          "Release"
        ],
        "summary": "Link an Run Configuration to a Release. Returns the updated Run Configuration detail.",
        "operationId": "linkRelease",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "releaseId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RunConfigurationResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/run-configurations/{id}/link-build": {
      "post": {
        "tags": [
          "Test Plan",
          "Build"
        ],
        "summary": "Link an Run Configuration to a Build. Returns the updated Run Configuration detail.",
        "operationId": "linkBuild",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "buildId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RunConfigurationResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/run-configurations/sample": {
      "post": {
        "tags": [
          "Test Plan"
        ],
        "summary": "Creates and triggers a sample Test Plan. Returns the created Test Plan detail.",
        "operationId": "createAndTriggerSample",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunConfigurationResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RunConfigurationResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/releases/{id}/active": {
      "post": {
        "tags": [
          "Release"
        ],
        "summary": "Open or close a Release. Returns the updated Release detail.",
        "operationId": "activeRelease",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "closed",
            "in": "query",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/projects/{id}/sample-data": {
      "post": {
        "tags": [
          "Project"
        ],
        "summary": "Create sample data for project.",
        "operationId": "createSampleData",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/v1/project-settings": {
      "post": {
        "tags": [
          "Project"
        ],
        "operationId": "createOrUpdate_2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectSettingResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectSettingResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/project-configurations/{id}": {
      "get": {
        "tags": [
          "project-configuration-resource-controller"
        ],
        "operationId": "get_12",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "TIMEZONE",
                "ASSERTION_PATTERN",
                "DEFAULT_TEST_PROJECT"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectConfigurationResource"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "project-configuration-resource-controller"
        ],
        "operationId": "update_11",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectConfigurationResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectConfigurationResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/organizations/{id}/trial-request": {
      "get": {
        "tags": [
          "organization-trial-request-resource-controller"
        ],
        "summary": "Get organization trial request data",
        "operationId": "getTrialRequest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationTrialRequestResource"
                }
              }
            }
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "organization-trial-request-resource-controller"
        ],
        "summary": "Submit organization trial request",
        "operationId": "submitTrialRequest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "feature",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "KSE",
                "ENGINE",
                "TESTOPS",
                "FLOATING_ENGINE",
                "UNLIMITED_KSE",
                "UNLIMITED_ENGINE",
                "TESTOPS_BUSINESS",
                "TESTOPS_ENTERPRISE",
                "PER_USER_KSE",
                "TESTCLOUD_MINUTE",
                "TESTCLOUD_SESSION_WEB",
                "VISUAL_TESTING_PRO",
                "TESTOPS_PLATFORM"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationTrialRequestResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/katalon/test-reports": {
      "post": {
        "tags": [
          "Test Report"
        ],
        "summary": "Saves and processes the uploaded Katalon reports.",
        "operationId": "processS3File",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "batch",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folderPath",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isEnd",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadedPath",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UploadBatchResource"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/katalon/test-reports/update-result": {
      "post": {
        "tags": [
          "Test Report"
        ],
        "operationId": "updateResult",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestRunResult"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExecutionResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/katalon/test-reports/multiple": {
      "post": {
        "tags": [
          "Test Report"
        ],
        "summary": "Saves and processes multiple uploaded Katalon reports.",
        "operationId": "processMultipleS3File",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "batch",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UploadBatchFileResource"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UploadBatchResource"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/katalon-recorder/test-reports": {
      "post": {
        "tags": [
          "Test Report",
          "Katalon Recorder"
        ],
        "summary": "Uploads and processes a Katalon Recorder report.",
        "operationId": "upload",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "batch",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isEnd",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadedPath",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/katalon-recorder/backup": {
      "post": {
        "tags": [
          "Katalon Recorder"
        ],
        "summary": "Saves a Katalon Recorder backup detail.",
        "operationId": "backup",
        "parameters": [
          {
            "name": "uploadedPath",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/junit/test-reports": {
      "post": {
        "tags": [
          "Test Report"
        ],
        "summary": "Uploads and processes the JUnit reports to an Execution.",
        "operationId": "uploadJUnitReports",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "batch",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "folderPath",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isEnd",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileName",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadedPath",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sessionId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/v1/jobs/update-job": {
      "post": {
        "tags": [
          "Job"
        ],
        "summary": "Updates a Job detail. Returns the updated Job detail.",
        "operationId": "updateJob",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/JobResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/git/update": {
      "post": {
        "tags": [
          "Test Project"
        ],
        "summary": "Updates a Git Test Project detail. Returns the updated Git Test Project detail.",
        "operationId": "updateGitRepo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GitRepositoryResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GitRepositoryResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/git/create": {
      "post": {
        "tags": [
          "Test Project"
        ],
        "summary": "Creates a Git Test Project. Returns the Git Test Project detail.",
        "operationId": "createGitRepo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GitRepositoryResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GitRepositoryResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/executions/{id}/unlink-release": {
      "post": {
        "tags": [
          "Build",
          "Release",
          "Test Runs"
        ],
        "summary": "Unlink an Execution to a Release and Build. Returns the updated Execution detail.",
        "operationId": "unlinkReleaseAndBuild",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExecutionResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/executions/{id}/share-report": {
      "post": {
        "summary": "Allow users to send email with attached execution reports [PDF].",
        "operationId": "shareExecutionReport",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecutionShareReportResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Test Runs"
        ]
      }
    },
    "/api/v1/executions/{id}/rerun": {
      "post": {
        "summary": "Rerun an Execution.",
        "operationId": "rerunExecution",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "Test Runs"
        ]
      }
    },
    "/api/v1/executions/{id}/link-release": {
      "post": {
        "tags": [
          "Release",
          "Test Runs"
        ],
        "summary": "Link an Execution to a Release. Returns the updated Execution detail.",
        "operationId": "linkRelease_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "releaseId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExecutionResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/executions/{id}/link-build": {
      "post": {
        "tags": [
          "Build",
          "Test Runs"
        ],
        "summary": "Link an Execution to a Build. Returns the updated Execution detail.",
        "operationId": "linkBuild_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "buildId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExecutionResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/executions/{id}/export/send-mail": {
      "post": {
        "tags": [
          "Execution export"
        ],
        "summary": "Send email in case of timeout",
        "operationId": "sendExecutionExportMail",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fileType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PDF",
                "CSV",
                "XLSX",
                "ZIP",
                "HAR"
              ],
              "default": "CSV"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/v1/executions/{id}/export/enqueue-file": {
      "post": {
        "tags": [
          "Execution export"
        ],
        "summary": "Enqueue file to be exported",
        "operationId": "enqueueFile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fileType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PDF",
                "CSV",
                "XLSX",
                "ZIP",
                "HAR"
              ],
              "default": "CSV"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/v1/executions/terminate": {
      "post": {
        "summary": "Terminate a running test run",
        "operationId": "terminatedExecution",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GetExecutionResource"
                }
              }
            }
          }
        },
        "description": "This endpoint terminates a running test run and returns the terminated test run detail.",
        "tags": [
          "Test Runs"
        ]
      }
    },
    "/api/v1/executions/reimport": {
      "post": {
        "summary": "Re-imports an Execution. Returns the newly imported Execution detail.",
        "operationId": "reImportExecution",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExecutionResource"
                }
              }
            }
          }
        },
        "tags": [
          "Test Runs"
        ]
      }
    },
    "/api/v1/circle-ci-agent/projects": {
      "post": {
        "tags": [
          "Agent"
        ],
        "operationId": "getFollowedProjects",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CircleCIConnectionResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CircleCIProject"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/build": {
      "post": {
        "tags": [
          "Build"
        ],
        "summary": "Creates a Build. Returns the Build details.",
        "operationId": "create_7",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuildResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BuildResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/agent": {
      "get": {
        "tags": [
          "Agent"
        ],
        "summary": "Generates the configuration file for the Local agent. Returns the configuration file.",
        "operationId": "generateAgent",
        "parameters": [
          {
            "name": "agentConfigResource",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AgentConfigResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Agent"
        ],
        "summary": "Creates or updates a Local agent. Returns the agent detail.",
        "operationId": "create_8",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/token": {
      "get": {
        "tags": [
          "User"
        ],
        "operationId": "getKatOneToken",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AccessTokenResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users/me": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Returns the current User detail.",
        "operationId": "getMe",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/time-zones": {
      "get": {
        "tags": [
          "project-configuration-resource-controller"
        ],
        "operationId": "listTimeZones",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimeZoneResource"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/testops-test-suite/{id}": {
      "get": {
        "tags": [
          "Test Suite"
        ],
        "summary": "Generate file",
        "operationId": "generateFile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "fileType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "GROOVY",
                "TS"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/test-suites/{id}": {
      "get": {
        "tags": [
          "Test Suite"
        ],
        "summary": "Retrieve a test suite detail",
        "operationId": "get_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GetTestSuiteResource"
                }
              }
            }
          }
        },
        "description": "This endpoint returns a test suite detail."
      },
      "delete": {
        "tags": [
          "Test Suite"
        ],
        "summary": "Delete a TestOps test suite",
        "operationId": "deleteTestSuite",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GetTestSuiteResource"
                }
              }
            }
          }
        },
        "description": "This endpoint delete TestOps test suite and returns the deleted test suite details"
      }
    },
    "/api/v1/test-results/{id}": {
      "get": {
        "tags": [
          "Execution Test Result"
        ],
        "summary": "Returns an Execution Test Result detail.",
        "operationId": "get_2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ExecutionTestResultResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/test-results/logs/{id}": {
      "get": {
        "tags": [
          "Execution Test Result"
        ],
        "summary": "Downloads a test result's log. Returns the log file.",
        "operationId": "getStdout",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain;charset=UTF-8": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/test-projects/{id}/download": {
      "get": {
        "tags": [
          "Test Project"
        ],
        "summary": "Downloads a Test Project package. Returns the latest Test Project package file.",
        "operationId": "download",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/test-projects/default": {
      "get": {
        "tags": [
          "Test Project"
        ],
        "summary": "Get default Test Project of a Project. Returns Test Project resource if exist.",
        "operationId": "getDefaultTestProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TestProjectResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/test-objects/{id}": {
      "get": {
        "tags": [
          "Web Service"
        ],
        "summary": "Returns a Web Service detail.",
        "operationId": "get_4",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TestObjectResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/test-object-entities/{id}": {
      "get": {
        "tags": [
          "Test Object"
        ],
        "summary": "Returns a Test Object detail.",
        "operationId": "get_5",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TestObjectEntityResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/test-folder/sub-folders": {
      "get": {
        "tags": [
          "test-folder-resource-controller"
        ],
        "summary": "List subfolders of a folder under n nested level.",
        "operationId": "getSubFolders",
        "parameters": [
          {
            "name": "testFolderId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "numberOfLevel",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TestFolderResource"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/test-cloud/{id}": {
      "get": {
        "tags": [
          "Test Cloud Agent"
        ],
        "summary": "Get a Test Cloud agent by testCloudAgentId. Returns the test cloud agent detail.",
        "operationId": "get_6",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TestCloudAgentResource"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/test-cloud/tunnels": {
      "get": {
        "tags": [
          "test-cloud-proxy-tunnel-controller"
        ],
        "summary": "Get a Test Cloud Proxy Tunnel by organizationId and teamId. Returns list active ProxyTunnel.",
        "operationId": "getActiveTunnels",
        "parameters": [
          {
            "name": "teamId",
            "in": "query",
[...]
